@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;700&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
   width: 35vw;
}

.top{
    display: flex;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-weight: 700;
    align-items: end;
    /* border: 1px solid red; */
}

.top .top-left{
    font-size: 1.8rem;
    /* border: 1px solid blue; */
}

.top-right{
    display: flex;
    align-items: end;
    /* border: 1px solid blue; */
    font-size: 1rem;
    letter-spacing: 1px;
}

.top-right-text{
    margin-right: 2rem;
}

.toggle-no{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

.toggle-no span{
    font-size: 1rem;
}

.top-right-toggle{
    width: 7rem;
    border-radius: 1rem;
    padding: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right-toggle div{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #000;
    cursor: pointer;
}

.middle{
    color: #fff;
    font-size: 3rem;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    border-radius: .8rem;
    margin-top: 2rem;
    padding-right: 1rem;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); 
   
}

    /* grid-template-areas: 
    'seven eight nine del'
    'four five six plus'
    ; */
.numbers .seven{
    grid-area: seven;
}
.numbers .eight{
    grid-area: eight;
}
.numbers .nine{
    grid-area: nine;
}
.function .del{
    grid-area: del;
}
.numbers .four{
    grid-area: four;
}
.numbers .five{
    grid-area: five;
}
.numbers .six{
    grid-area: six;
}
.operators .plus{
    grid-area: plus;
}
.numbers .one{
    grid-area: one;
}
.numbers .two{
    grid-area: two;
}
.numbers .three{
    grid-area: three;
}
.operators .minus{
    grid-area: minus;
}
.decimal{
    grid-area: decimal;
}
.numbers .zero{
    grid-area: zero;
}
.operators .divide{
    grid-area: divide;
}
.operators .multiply{
    grid-area: multiply;
}
.reset{
    grid-area: reset;
}
.equals{
    grid-area: equals;
}