body{
    background-color: hsl(222, 26%, 31%);
}

.top-right-toggle{
    background-color: hsl(223, 31%, 20%);
}

.top-right-toggle .btn1{
    background: hsl(6, 63%, 50%);
}

.top-right-toggle .btn2, .top-right-toggle .btn3{
    background: none;
}

.middle{
    background-color: hsl(224, 36%, 15%);
}

.bottom{
    background-color: hsl(223, 31%, 20%);
}

.numbers, .operators, .decimal-pts { 
    background: hsl(30, 25%, 89%);
    border-color:hsl(28, 16%, 65%) ;
    color: hsl(221, 14%, 31%);
}

.numbers:hover, .operators:hover, .decimal-pts:hover {
    background: #fff;
}

.function{
    background: hsl(225, 21%, 49%);
    border-color: hsl(224, 28%, 35%);
    color: #fff;
    transition: .4s;
}

.function:hover {
    background: hsl(225, 37%, 73%);
}

.equals {
    background: hsl(6, 63%, 50%);
    border-color:  hsl(6, 70%, 34%) ;
}

.equals:hover {
    background: hsl(6, 100%, 74%);
}

.attribution {
    color: #fff;
}

.attribution a {
    color: hsl(6, 63%, 50%);
}