body{
    background-color: hsl(0, 0%, 90%);
}

.top-right-toggle{
    background-color: hsl(0, 5%, 81%);
}

.top-right-toggle .btn2{
    background: hsl(6, 63%, 50%);
}

.top-right-toggle .btn1, .top-right-toggle .btn3{
    background: none;
}

.middle{
    background-color: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);
}

.bottom{
    background:hsl(0, 5%, 81%);
}