body{
    background-color: hsl(0, 0%, 90%);
}

.top{
    color: hsl(60, 10%, 19%);
}

.top-right-toggle{
    background-color: hsl(0, 5%, 81%);
}

.top-right-toggle .btn2{
    background: hsl(6, 63%, 50%);
}

.top-right-toggle .btn1, .top-right-toggle .btn3{
    background: none;
}

.middle{
    background-color: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);
}

.bottom{
    background:hsl(0, 5%, 81%);
}

.numbers, .operators, .decimal-pts { 
    background: hsl(45, 7%, 89%);
    border-color:hsl(35, 11%, 61%) ;
    color: hsl(60, 10%, 19%);
}

.numbers:hover, .operators:hover, .decimal-pts:hover {
    background: #fff;
} 

.function {
    background: hsl(185, 42%, 37%);
    border-color: hsl(185, 58%, 25%);
    color: #fff;
    transition: .4s;
}

.function:hover {
    background: hsl(185, 56%, 57%);
}

.equals {
    background: hsl(25, 98%, 40%);
    border-color:  hsl(25, 99%, 27%) ;
}

.equals:hover {
    background:  hsl(25, 100%, 62%);
}
