body{
    background:   hsl(268, 75%, 9%);
}

.top{
    color:hsl(52, 100%, 62%);
}

.top-right-toggle{
    background:hsl(268, 71%, 12%);
}

.top-right-toggle .btn3{
    background:  hsl(176, 100%, 44%);
}

.top-right-toggle .btn1, .top-right-toggle .btn2{
    background: none;
}

.middle{
    background: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}

.bottom{
    background: hsl(268, 71%, 12%);
}

.numbers, .operators, .decimal-pts { 
    background:  hsl(268, 47%, 21%);
    border-color: hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
}

.numbers:hover, .operators:hover, .decimal-pts:hover {
    background: hsl(268, 77%, 43%) ;
} 

.function {
    background:  hsl(281, 89%, 26%);
    border-color:  hsl(285, 91%, 52%) ;
    color: hsl(0, 0%, 100%);
    transition: .4s;
}

.function:hover {
    background: hsl(281, 87%, 51%);
}

.equals {
    background: hsl(176, 100%, 44%);
    border-color:hsl(177, 92%, 70%);
    color: hsl(268, 75%, 9%);
}

.equals:hover {
    background:  hsl(176, 100%, 78%);
}

.attribution {
    color: hsl(52, 100%, 62%);
}
