@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(222, 26%, 31%);
}
main{
    border: 1px solid red;
    width: 35vw;
    margin: auto;
    /* position: absolute;
    top: calc(50% - ); */
}
.top{
    display: flex;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    color: white;
}