*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(222, 26%, 31%);
}
main{
    border: 1px solid red;
    width: 35vw;
    margin: auto;
    /* position: absolute;
    top: calc(50% - ); */
}
.top{
    display: flex;
    justify-content: space-between;
}