@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;700&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: hsl(222, 26%, 31%);
}
main{
    border: 1px solid red;
    width: 35vw;
    margin: auto;
    /* position: absolute;
    top: calc(50% - ); */
}
.top{
    display: flex;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-weight: 700;
    align-items: center;
}
.top .top-left{
    font-size: 1.8rem;
}
.top-right{
    display: flex;
    border: 1px solid blue;
    font-size: 1rem;
    letter-spacing: 1px;
}
.top-right-toggle{
    background-color: hsl(223, 31%, 20%);
}
.toggler{
    background-color: hsl(6, 63%, 50%);
}